<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="all" href="../view/css/style4.css">
    <title>Mantenimiento</title>
</head>

<body>
    <header> Mantenimiento de Webs..
    </header>
    <br>
    <br>
    <div title=" 404 ">404</div>
    <br>
    <footer>
        <div>
            <p>Se viene..</p>
        </div>
        <p><a href="webinterior.html ">Inicio</a></p>
    </footer>
</body>

</html>